.Titulo-Aliados {
  position: absolute;
  top: 20%;
  right: 0px;
  left: 45%;
  z-index: 2;
  color: #008000;
}
.TextoEmpresa {
  position: absolute;
  text-align: justify;
  width: 50%;
  left: 14%;
}
.Empresas1,
.Empresas2,
.Empresas3,
.Empresas4,
.Empresas5,
.Empresas6 {
  position: absolute;
  top: 20%;
  text-align: center;
  background: #808080;
  width: 40%;
  height: 80%;
  display: inline-block;
  border: solid;
  border-radius: 10%;
}
.Empresas2 {
  left: 60%;
  display: inline-block;
}
.Empresas3 {
  top: 110%;
  display: inline-block;
}
.Empresas4 {
  top: 110%;
  left: 60%;
  display: inline-block;
}
.Empresas5 {
  top: 210%;
  display: inline-block;
}
.Empresas6 {
  top: 210%;
  left: 60%;
  display: inline-block;
}
.Imagen-Empresa {
  width: 50%;
  height: 50%;
  padding-top: 5%;
  padding-bottom: 2%;
}
.Link-Nav {
  text-decoration: none;
  color: #f00;
  position: relative;
  top: 70%;
  right: 40%;
}
