.formularioIngreso
   position fixed
   right 0px
   top 30px
   margin-bottom 18em
   width 17%
   background transparent
   height 45%
   font-size 85%
   border-radius 5px
   color white
   z-index 2
   display none
   
.ingresar
	color black
	border-radius 5px
	margin-top 2em
	border none
	
.inputUsuario
	margin-bottom 0.5em
	color black

.inputContraseña
	color black
 
#formulario
  display inline-block
  float right
  display none
  -webkit-transition width .5s, height .5s, margin-right .5s, margin-top .5s  