.titulo-admin
	position relative
	color red
	top 5em
	left 19em
	text-align center
	padding 20px
	height 3em
	width 25%
	border double black
.campos
	position relative
	color red
	top 10em
	left 40em
	text-align center
	padding-top 0.5%
	height 3em
	width 10%
	border black double
	list-style none
	
.titulo-admin:hover
	background #0A2A29
.campos:hover
	background #2E2E2E
.atras
	font-weight bold
	text-decoration none
	color blue
	font-size 1.5em
	background orange
	border-radius .5em
	padding .5em
	border 5px solid black
	position absolute
	top 76%
	left 30%
.usuarios
	font-weight bold
	text-decoration none
	color blue
	font-size 1.5em
	background orange
	border-radius .5em
	padding .5em
	border 5px solid black
	position absolute
	top 76%
	left 52%
	