.titulo-admin {
  position: relative;
  color: #f00;
  top: 5em;
  left: 19em;
  text-align: center;
  padding: 20px;
  height: 3em;
  width: 25%;
  border: double #000;
}
.campos {
  position: relative;
  color: #f00;
  top: 10em;
  left: 40em;
  text-align: center;
  padding-top: 0.5%;
  height: 3em;
  width: 10%;
  border: #000 double;
  list-style: none;
}
.titulo-admin:hover {
  background: #0a2a29;
}
.campos:hover {
  background: #2e2e2e;
}
.atras {
  font-weight: bold;
  text-decoration: none;
  color: #00f;
  font-size: 1.5em;
  background: #ffa500;
  border-radius: 0.5em;
  padding: 0.5em;
  border: 5px solid #000;
  position: absolute;
  top: 76%;
  left: 30%;
}
.usuarios {
  font-weight: bold;
  text-decoration: none;
  color: #00f;
  font-size: 1.5em;
  background: #ffa500;
  border-radius: 0.5em;
  padding: 0.5em;
  border: 5px solid #000;
  position: absolute;
  top: 76%;
  left: 52%;
}
