@font-face {
  font-family: nevis;
  src: url("../../fuentes/nevis.ttf");
}
body {
  font-family: nevis;
  font-size: 16px;
}
.cajafooter {
  margin-top: 15em;
  z-index: -2;
  width: 100%;
  background: #fff;
}
.Footer {
  z-index: -1;
  bottom: 0;
  background: #000;
  position: fixed;
  width: 100%;
  padding: 2.3em;
  text-align: center;
  color: #fff;
}
.Footer-cajaimg {
  display: initial;
}
.Footer-copyright {
  margin-right: 20px;
  border-right: 2px solid #fff;
  display: inline-block;
  font-size: 90%;
  padding: 10px;
}
.Footer-img {
  width: 5%;
  display: inline-block;
}
